<nav>
    <a class="brand" routerLink="/"><img src="./assets/logo.png" alt="FlipCart"></a>

    <div *ngIf="menuType==='default' || menuType==='user'" class="search">
        <input #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" type="text"
            placeholder="Search for product, brands and more">
        <button (click)="submitSearch(searchInput.value)"><fa-icon [icon]="searchIcon"></fa-icon></button>
        <ul class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
                <a (mousedown)="reDirectToDetails(item.id)">
                    {{item.name}}
                </a>
            </li>
        </ul>
    </div>

    <div class="menu" [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="seller">Seller</a></li>
            <li> <a routerLink="/user-auth"><fa-icon [icon]="userIcon"></fa-icon> Login/SignUp</a></li>
            <li> <a routerLink="/cart-page" class="cart-link"><fa-icon [icon]="cartIcon"></fa-icon> Cart<span class="cart-badge" *ngIf="cartItem > 0">{{cartItem}}</span></a></li>
        </ul>
        <ul *ngSwitchCase="'user'">
            <li><a routerLink="/">Home</a></li>
            <li> <a routerLink="/profile"><fa-icon [icon]="userIcon"></fa-icon> Profile</a></li>
            <li> <a routerLink="/my-orders">My Orders</a></li>
            <li> <a routerLink="/cart-page" class="cart-link"><fa-icon [icon]="cartIcon"></fa-icon> Cart<span class="cart-badge" *ngIf="cartItem > 0">{{cartItem}}</span></a></li>
            <li> <a (click)="userLogout()">Logout</a></li>
        </ul>
        <ul class="seller" *ngSwitchCase="'seller'">
            <li><a routerLink="sellerAddProduct">Add Product</a></li>
            <li><a routerLink="seller-home">My Products</a></li>
            <li class="user-name">{{sellerName | titlecase}}</li>
            <li> <a (click)="sellerLogout()">Logout</a></li>
        </ul>
    </div>
</nav>
