<div class="checkout">
    <h1>Checkout</h1>
    <div class="order-toast" *ngIf="ordersms">{{ordersms}}</div>
    <div class="main">
        <h2>Add shipping address</h2>
        <form #orderDetails="ngForm" (ngSubmit)="orderNow(orderDetails.value)" class="example-form">
            <div class="input-field">
                <input type="email" placeholder="Enter Email" ngModel name="email" required email>
                <div *ngIf="orderDetails.controls['email'].errors?.['required'] && (orderDetails.controls['email'].dirty || orderDetails.controls['email'].touched)"
                    class="error-message">
                    <span>Email is required.</span>
                </div>
                <div *ngIf="orderDetails.controls['email'].errors?.['email'] && (orderDetails.controls['email'].dirty || orderDetails.controls['email'].touched)"
                    class="error-message">
                    <span>Invalid email format.</span>
                </div>
            </div>
            <div class="input-field">
                <textarea style="width: 100%;" type="text" placeholder="Enter user address" ngModel name="address" required minlength="5"
                    maxlength="100"></textarea>
                <div *ngIf="orderDetails.controls['address'].errors?.['required'] && (orderDetails.controls['address'].dirty || orderDetails.controls['address'].touched)"
                    class="error-message">
                    <span>Address is required.</span>
                </div>
                <div *ngIf="orderDetails.controls['address'].errors?.['minlength'] && (orderDetails.controls['address'].dirty || orderDetails.controls['address'].touched)"
                    class="error-message">
                    <span>Address should be at least 5 characters.</span>
                </div>
                <div *ngIf="orderDetails.controls['address'].errors?.['maxlength'] && (orderDetails.controls['address'].dirty || orderDetails.controls['address'].touched)"
                    class="error-message">
                    <span>Address should be at most 100 characters.</span>
                </div>
            </div>

            <div class="input-field">
                <input type="number" placeholder="Enter contact number" ngModel name="contact" required minlength="5"
                    maxlength="20">
                <div *ngIf="orderDetails.controls['contact'].errors?.['required'] && (orderDetails.controls['contact'].dirty || orderDetails.controls['contact'].touched)"
                    class="error-message">
                    <span>Contact number is required.</span>
                </div>
                <div *ngIf="orderDetails.controls['contact'].errors?.['minlength'] && (orderDetails.controls['contact'].dirty || orderDetails.controls['contact'].touched)"
                    class="error-message">
                    <span>Contact details should be at least 5 characters.</span>
                </div>
                <div *ngIf="orderDetails.controls['contact'].errors?.['maxlength'] && (orderDetails.controls['contact'].dirty || orderDetails.controls['contact'].touched)"
                    class="error-message">
                    <span>Contact details should be at most 20 characters.</span>
                </div>
            </div>

            <button type="submit" [disabled]="!orderDetails.valid">Order Now</button>
        </form>

    </div>
    <div class="cheat">
        <ul>
            <li><span>Total Amount</span> <span>{{totalPrice}}</span></li>
            <li><span>Payment Method</span><span>Pay on delivery</span></li>
        </ul>
    </div>
</div>