body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure that the header is on top of other content */
  }

  .main-content {
    flex: 1 0 auto;
    padding-top: 68px;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    box-sizing: border-box;
  }

  .footer {
    flex-shrink: 0;
    width: 100%;
  }

  @media (max-width: 768px) {
    .main-content {
      padding-top: 116px;
    }
  }
