<div class="container">
    <app-loading-spinner *ngIf="loading"></app-loading-spinner>

    <app-empty-state
        *ngIf="!loading && searchResult?.length === 0"
        [message]="'No results found for &quot;' + query + '&quot;'">
    </app-empty-state>

    <div class="row" *ngIf="!loading && searchResult?.length">
        <div class="col-sm-3 mb-4" *ngFor="let item of searchResult">
            <app-product-card [product]="item" (addToCart)="onAddToCart($event)"></app-product-card>
        </div>
    </div>
</div>
