<ngb-carousel *ngIf="popularProduct">
	<ng-template ngbSlide *ngFor="let image of popularProduct">
		<div class="picsum-img-wrapper">
			<a routerLink="/product-details/{{image.id}}">
				<img [src]="image.url" alt="Random first slide" />
			</a>
		</div>
		<div class="carousel-caption">
			<h3>{{image.name}}</h3>
			<p>{{image.description}}</p>
		</div>
	</ng-template>
</ngb-carousel>

<div class="product-list-wrapper">
	<h1>Trendy Products</h1>

	<app-loading-spinner *ngIf="loading"></app-loading-spinner>

	<app-empty-state
		*ngIf="!loading && trendyProduct?.length === 0"
		message="No products available right now.">
	</app-empty-state>

	<div class="container-fluid" *ngIf="!loading && trendyProduct?.length">
		<div class="row">
			<div class="col-sm-3 mb-4" *ngFor="let item of trendyProduct">
				<app-product-card [product]="item" (addToCart)="onAddToCart($event)"></app-product-card>
			</div>
		</div>
	</div>
</div>