<div class="main">
    <h2>Update Product</h2>
    <h4 style="color: green;">{{productMessage}}</h4>
    <form #updateProduct="ngForm" (ngSubmit)="submit(updateProduct.value)" class="example-form">
        <div class="input-field">
            <input [(ngModel)]="productData.id" name="id" type="hidden">
        </div>
        <div class="input-field">
            <input [(ngModel)]="productData.sellerEmail" name="sellerEmail" type="hidden">
        </div>
        <div class="input-field">
            
            <input [(ngModel)]="productData.name" name="name" placeholder="Enter Product Name" required minlength="3" maxlength="50">
            <div *ngIf="updateProduct.controls['name'] && updateProduct.controls['name'].errors?.['required'] && (updateProduct.controls['name'].dirty || updateProduct.controls['name'].touched)"
                class="error-message">
                <span>Product name is required.</span>
            </div>
            <div *ngIf="updateProduct.controls['name'] && updateProduct.controls['name'].errors?.['minlength'] && (updateProduct.controls['name'].dirty || updateProduct.controls['name'].touched)"
                class="error-message">
                <span>Product name should be at least 3 characters.</span>
            </div>
            <div *ngIf="updateProduct.controls['name'] && updateProduct.controls['name'].errors?.['maxlength'] && (updateProduct.controls['name'].dirty || updateProduct.controls['name'].touched)"
                class="error-message">
                <span>Product name should be at most 50 characters.</span>
            </div>
        </div>

        <div class="input-field">
            <input type="number" placeholder="Enter Product Price" [(ngModel)]="productData.price" name="price" required min="0">
            <div *ngIf="updateProduct.controls['price'] && updateProduct.controls['price'].errors?.['required'] && (updateProduct.controls['price'].dirty || updateProduct.controls['price'].touched)"
                class="error-message">
                <span>Price is required.It should be number</span>
            </div>
            <div *ngIf="updateProduct.controls['price'] && updateProduct.controls['price'].errors?.['min'] && (updateProduct.controls['price'].dirty || updateProduct.controls['price'].touched)"
                class="error-message">
                <span>Price cannot be negative.</span>
            </div>
        </div>

        <div class="input-field">
            <input type="number" placeholder="Enter Product MRP" [(ngModel)]="productData.mrp" name="mrp" required min="0">
            <div *ngIf="updateProduct.controls['mrp'] && updateProduct.controls['mrp'].errors?.['required'] && (updateProduct.controls['mrp'].dirty || updateProduct.controls['mrp'].touched)"
                class="error-message">
                <span>MRP is required.</span>
            </div>
        </div>

        <div class="input-field">
            <input type="number" placeholder="Enter Stock Quantity" [(ngModel)]="productData.stock" name="stock" required min="0">
            <div *ngIf="updateProduct.controls['stock'] && updateProduct.controls['stock'].errors?.['required'] && (updateProduct.controls['stock'].dirty || updateProduct.controls['stock'].touched)"
                class="error-message">
                <span>Stock quantity is required.</span>
            </div>
        </div>

        <div class="input-field">
            <input type="text" placeholder="Enter Product Color" [(ngModel)]="productData.color" name="color" required minlength="2"
            maxlength="50">
            <div *ngIf="updateProduct.controls['color'] && updateProduct.controls['color'].errors?.['required'] && (updateProduct.controls['color'].dirty || updateProduct.controls['color'].touched)"
                class="error-message">
                <span>Color is required.</span>
            </div>
            <div *ngIf=" updateProduct.controls['color'] && updateProduct.controls['color'].errors?.['minlength'] && (updateProduct.controls['color'].dirty || updateProduct.controls['color'].touched)"
                class="error-message">
                <span>Color should be at least 2 characters.</span>
            </div>
            <div *ngIf="updateProduct.controls['color'] && updateProduct.controls['color'].errors?.['maxlength'] && (updateProduct.controls['color'].dirty || updateProduct.controls['color'].touched)"
                class="error-message">
                <span>Color should be at most 50 characters.</span>
            </div>
        </div>

        <div class="input-field">
            <input [(ngModel)]="productData.category" name="category" placeholder="Enter Product Category" minlength="3" maxlength="50" required>
            <div *ngIf=" updateProduct.controls['category'] && updateProduct.controls['category'].errors?.['required'] && (updateProduct.controls['category'].dirty || updateProduct.controls['category'].touched)"
                class="error-message">
                <span>Category is required.</span>
            </div>
            <div *ngIf="updateProduct.controls['category'] && updateProduct.controls['category'].errors?.['minlength'] && (updateProduct.controls['category'].dirty || updateProduct.controls['category'].touched)"
                class="error-message">
                <span>Category should be at least 3 characters.</span>
            </div>
            <div *ngIf="updateProduct.controls['category'] && updateProduct.controls['category'].errors?.['maxlength'] && (updateProduct.controls['category'].dirty || updateProduct.controls['category'].touched)"
                class="error-message">
                <span>Category should be at most 50 characters.</span>
            </div>
        </div>


        <div class="input-field">
                <textarea style="width: 100%;" type="text" placeholder="Enter Product Description" [(ngModel)]="productData.description" name="description" required></textarea>

            <div *ngIf="updateProduct.controls['description'] && updateProduct.controls['description'].errors?.['required'] && (updateProduct.controls['description'].dirty || updateProduct.controls['description'].touched)"
                class="error-message">
                <span>Description is required.</span>
            </div>
        </div>

        <div class="input-field">
            <input type="text" placeholder="Enter Product Umage URL" [(ngModel)]="productData.url" name="url" required pattern="https?://.+">
            <div *ngIf="updateProduct.controls['url'] && updateProduct.controls['url'].errors?.['required'] && (updateProduct.controls['url'].dirty || updateProduct.controls['url'].touched)"
                class="error-message">
                <span>Product Image URL is required.</span>
            </div>
            <div *ngIf="updateProduct.controls['url'] && updateProduct.controls['url'].errors?.['pattern'] && (updateProduct.controls['url'].dirty || updateProduct.controls['url'].touched)"
                class="error-message">
                <span>Invalid URL format.</span>
            </div>
        </div>

        <button type="submit" [disabled]="!updateProduct.valid">Update Product</button>
    </form>
</div>